html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

body {
  font-family: 'Merriweather', serif;
  font-size: 10px; }

.no_break_at_print {
  page-break-inside: avoid;
  margin-left: 15px;
  margin-right: 15px; }

hr {
  margin-top: 15px;
  margin-bottom: 0px;
  height: 0px;
  border: none;
  border-top: 1px solid black;
  break-after: avoid; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-weight: 300;
  font-size: 50px; }

.japanese_font {
  font-family: 'Zen Kaku Gothic New';
  font-size: 45px;
  font-weight: 300; }

h2 {
  font-size: 10px;
  font-weight: 300;
  break-after: avoid; }

h3 {
  font-size: 12px;
  font-weight: 400; }

.project-title {
  font-size: 14px;
  font-weight: 400; }

p,
h3 {
  margin-top: 0;
  margin-bottom: 0.25rem; }

.bio_text {
  text-align: justify;
  font-size: 12px;
  line-height: 1.6;
  margin-right: 25px;
  margin-left: 25px; }

ul {
  line-height: 1.4;
  margin: 0;
  padding-left: 0.75rem;
  list-style-type: none; }
  ul li {
    text-indent: -9px; }
    ul li::before {
      content: '- ';
      display: inline; }

.wrap {
  margin: 0 auto;
  max-width: 690px;
  padding: 0.3in 0.5in; }

.heading-line {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none; }

header {
  border-bottom: 1px solid #000;
  padding-bottom: 15px; }
  header a {
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 400; }
  header .page-title {
    display: flex;
    justify-content: space-between; }
  header a + a {
    border-left: 1px solid #000;
    margin-left: 1rem;
    padding-left: 1rem; }

@media (min-width: 769px) {
  .box {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative;
    width: 790px; }
    .box::before, .box::after {
      background: transparent;
      bottom: 12px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      content: ' ';
      height: 10px;
      left: 12px;
      position: absolute;
      width: 40%;
      z-index: -1; }
    .box::after {
      left: auto;
      right: 12px;
      transform: skew(5deg) rotate(5deg); }
  body {
    padding: 3rem; } }

@media print {
  html {
    zoom: 1.05; } }

@media only screen and (orientation: portrait) {
  body {
    height: 100vw;
    transform: rotate(90deg); } }
